body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin-top: 0;
  padding: 0;
  font-size: 48px;
  background-color: darkgray;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1;
  gap: 16px;
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 16px;
  
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width:100%;
}

